<% layout('boilerplate') %>
<% block('head').append('<link rel="stylesheet" href="css/withdrawStyles.css">') %>
<div class="container my-5">
    <div class="row">
        <form class="col-6 form-validation d-flex flex-column"  action="/withdraw" method="post" novalidate>
            <div class="text-center mb-5">
                <h1>Withdraw</h1>                
            </div>
            <div class="fw-semibold mb-3">
                <label for="coins" class="form-label">Select a coin</label>
                <select class="form-select" id="coins" aria-label="Coins selection" required name="selectedCoinID">
                    <%for(let asset of user.wallet){%>
                        <option value="<%= asset.currency.API_id%>"><%= asset.currency.name %></option>
                    <%}%>
                </select>
            </div>
            <div class="fw-semibold mb-3">
              <label for="amount" class="form-label">Amount</label>
              <input type="text" class="form-control" id="amount" name="amount" required pattern="\d+(.\d{1,5})?">
              <div class="invalid-feedback">Enter a valid number</div>
            </div>
            <div class="mb-3 fw-semibold equivalent-container hide d-flex flex-row justify-content-between">Equivalent: <span><span id="equivalent"></span> <%= fiatSymbol %></span></div>
            <div class="mt-3 d-flex justify-content-around">
                <a href="summary" class="btn btn-primary">Cancel</a>
                <button type="submit" class="btn btn-primary">Deposit</button>
            </div>
            
        </form>
        <div class="col-6 d-flex flex-column align-items-center">
            <h2 class="mb-5">My wallet</h2>
            <ul>
                <%for(let coin of user.wallet){%>
                    <li><%= `You have ${coin.qty} ${coin.currency.name} in your wallet` %></li>
                <%}%>
            </ul>
        </div>
    </div>
</div>
<script>
    const userWallet = <%- JSON.stringify(user.wallet) %>;
</script>
<% block('body').append('<script src="js/withdraw.js"></script>') %>
<% block('body').append('<script src="js/formValidation.js"></script>') %>